.feed {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
  margin: 0 auto 20px auto;
  width: 45%;

}
.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.post-card-container {
  max-width: 70%; /* Ajusta este valor según lo que necesites */
  width: 25%;
  margin: 0 auto; /* Centra el contenedor */
}