
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  margin: 0;
}
/* Imagen del logo */
.logo img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #d5aefc, #a7e5d5);
  margin-bottom: 15px;
}

/* Título principal */
.title {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(to right, #ba73ff, #94d8d3);
-webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}

/* Estilos del formulario */
.register-form {
  display: flex;
  flex-direction: column;
}

/* Campos de entrada */
.input-field {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  font-size: 14px;
}

/* Botón de registro */
.register-button {
  width: 100%;
  padding: 12px;
  background-color: #b678dd;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

/* Cambio de color al pasar el mouse sobre el botón */
.register-button:hover {
  background-color: #a865c9;
}

/* Texto de enlace de registro */
.login-text {
  margin-top: 15px;
}

/* Estilo del enlace dentro del texto de registro */
.login-text a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}


/* Efecto de subrayado al pasar el mouse sobre el enlace */

.login-text a:hover {
  text-decoration: underline;
}

/* Media  pantallas pequeñas */
@media (max-width: 480px) {


  .title {
    font-size: 20px; 
  }

  .input-field {
    padding: 10px; 
    font-size: 12px; 
  }

  .register-button {
    padding: 10px; 
    font-size: 12px; 
  }
}