.comments-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.comments-modal-content {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.comments-list {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
}

.add-comment-section {
  display: flex;
  gap: 10px;
}

.modal-comment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modal-comment strong {
  margin-right: 8px; /* Espacio entre el nombre de usuario y el texto */
}

.comment-input {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.add-comment-button {
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  background-color: #b678dd;
  color: white;
  cursor: pointer;
}

.add-comment-button:hover {
  background-color: #a865c9;
}

.post-card-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.post-card-button:hover {
  background-color: #0056b3;
}

.post-card-button.delete {
  background-color: #dc3545;
}

.post-card-button.delete:hover {
  background-color: #a71d2a;
}

.post-card-button:disabled {
  background-color: #eaeaea;
  color: #999;
  cursor: not-allowed;
}
