.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Asegura que todo esté alineado hacia arriba */
  padding-top: 2rem; /* Ajusta según lo que necesites */
  padding-bottom: 2rem;
  padding-left: 7rem;
  padding-right: 8rem;
}


.myprofile img {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  object-fit: cover;
}

.username {
    margin-top: 20px;
}


.edit-profile-btn,
.save-profile-btn,
.back-to-feed-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.user_edit_container {
  display: flex;
  align-items: center; /* Alinea la imagen y el texto verticalmente en el centro */
  gap: 1rem; /* Espacio entre imagen, nombre de usuario y botón */
  padding-left: 0rem;
}

.stats {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
}
#edit-profile-button {
  color: black;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button-container {
  resize: none;
  height: 100px;
}
.gallery_container {
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  flex-wrap: wrap;
}
img {
  width: 14rem;
  height: 12rem;
}

@media (max-width: 600px) {
  .myprofile img {
    width: 100px;
    height: 100px;
  }
  .stats {
    flex-direction: column;
  }
  .edit-profile-btn,
  .save-profile-btn,
  .back-to-feed-btn {
    width: 100%;
    margin-top: 10px;
  }
}