.menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-image {
  width: 40px;
  height: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Ajusta el ancho según tus necesidades */
  height: 100%;
  background-color: #f4f4f4; /* Color de fondo */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Sombra para el sidebar */
  z-index: 1000; /* Asegúrate de que el sidebar esté por encima de otros elementos */
  padding: 20px; /* Espaciado interno */
}

.content {
  margin-left: 250px; /* Debe coincidir con el ancho del sidebar */
  padding: 20px; /* Espaciado interno */
}

  