.wrapp {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}
/* Imagen del logo */
.logo img {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  background: linear-gradient(to bottom, #d5aefc, #a7e5d5);
  margin-bottom: 15px;
}

/* Título principal */
.title {
  font-size: 28px;
  font-weight: bold;
  background: linear-gradient(to right, #ba73ff, #94d8d3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
  text-align: center
}

/* Estilos del formulario */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Campos de entrada */
.input-field {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f1f1f1;
}

/* Botón de login */
.login-button {
  width: 100%;
  padding: 12px;
  background-color: #b678dd;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Cambio de color al pasar el mouse sobre el botón */
.login-button:hover {
  background-color: #a865c9;
}

/* Texto de enlace de login */
.signup-text {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

/* Estilo del enlace dentro del texto de registro */
.signup-text a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Efecto de subrayado al pasar el mouse sobre el enlace */
.signup-text a:hover {
  text-decoration: underline;
}

/* Media Queries para pantallas más grandes */
@media (min-width: 768px) {
  .login-container {
    max-width: 380px;
    padding: 20px;
  }

  .title {
    font-size: 30px;
  }

  .input-field {
    padding: 10px;
  }

  .login-button {
    font-size: 16px;
    padding: 12px;
  }
}

@media (min-width: 1024px) {
  .login-container {
    max-width: 420px;
    padding: 25px;
  }

  .title {
    font-size: 32px;
  }

  .input-field {
    padding: 12px;
  }

  .login-button {
    font-size: 18px;
    padding: 14px;
  }
}