.card-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 5px;
  background-color: #d0cece;
}

.card-search img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-search .card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-search h3 {
  margin: 0;
  font-size: 18px;
}
